/* -- RESET -- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 76px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* -- LAYOUT -- */
.container {
  margin: 0 auto;
  max-width: 1224px;
  padding: 12px;
}
.container-lg {
  margin: 0 auto;
  max-width: 100%;
}
.container-sm {
  margin: 0 auto;
  max-width: 1024px;
  padding: 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.marginX-center {
  margin: 0 auto;
}

.col-100 {
  width: 100%;
}
.col-10 {
  width: 10%;
}
.col-33 {
  width: calc(100%/3);
}
.col-40{
  width: 40%;
}
.col-card {
  width: calc((100% - 100px)/3);
}
.col-50 {
  width: 50%;
}
.col-60{
  width: 60%;
}
.col-66 {
  width: calc((100% / 3) * 2);
}
.col-90{
  width: 90%;
}

.bt_style1 {
  background-color: #0061ff;
  color: white;
  padding: 10px;
  text-align: center;
}

.text-gray {
  color: #acb1bc;
}
.text-blue {
  color: #0c62ff;
}

.border-gray {
  border: 2px solid #ededee;
}
.gapY-30 {
  row-gap: 30px;
}

.marginY-100 {
  margin: 100px 0;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* -- GENERAL STYLE -- */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* header */
header {
  padding: 25px 20px;
}
header a {
  color: #444444;
}
header ul {
  display: inline;
}
header li {
  display: inline;
  margin: 0 10px;
  line-height: 22px;
}
header img{
  display: inline-block;
}
.logo{
  vertical-align:sub ;
}

/* main */
/* -- hero */
.hero {
  background-color: #b4d0e7;
}
.hero .container {
  position: relative;
  top: 70px;
}
.hero h1 {
  margin: 35px 0;
}
.hero .bt_style1 {
  width: fit-content;
  padding: 10px 15px;
}
.hero .icon-arrow-down {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: 50px;
}

/* -- business-plan */
.card .card-header{
  border-bottom: 2px solid #ededee;
  text-align: center;
  padding: 10px;
}
.card .card-main{
  padding: 0 30px;
}
.card .card-main-box{
  margin: 30px 0;
}
.linietta {
  background-color: #ededee;
  width: 25%;
  height: 2px;
}
.card h3{
  padding: 20px 0px;
}
.card b{
  line-height: 30px;
}
.card-main-box :is(p,i){
  padding: 10px 0px;
}
.card-main-box i{
  padding-top:13px;
}
.business-plan .card:last-child{
  margin-top: 50px;
}
/* -- finde-partner */
.finde-partner .col-40{
  padding: 50px;
}
.finde-partner p{
  margin: 20px 0;
}
.finde-partner button{
  padding: 10px;
  background-color: white;
  border: 1px solid black;
}

/* -- option-dropbox */
/* -- our-customers */
/* -- designit-section */
/* -- free-try-section */
/* -- faq */

/* footer */
/* -- useful-links */
/* -- languages */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* -- DEBUG -- */
.debug :is(header, main, footer) {
  border-top: 2px solid rgb(0, 250, 0);
}

.debug .container {
  border: 1px dashed rgba(250, 0, 0, 0.3);
  padding: 10px;
}

.debug.container-lg {
  border: 1px dashed rgba(4, 0, 250, 1);
  padding: 10px;
}
.debug .container-sm {
  border: 1px dashed rgba(250, 0, 229, 0.3);
  padding: 10px;
}

.debug .row {
  border: 3px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.debug [class^="col-"] {
  background-color: #daa52062;
  padding: 10px;
  min-height: 10px;
}
.debug a {
  background-color: #da202062;
  padding: 10px;
}
.debug ul {
  border: 2px solid #2c20da;
  padding: 10px;
}
.debug li {
  background-color: #2c20da62;
  padding: 10px;
}
